build/
dist/
openchat.iml
lib/annotations-*.jar
lib/commons-codec-*.jar
lib/commons-io-*.jar
lib/commons-lang3-*.jar
lib/commons-logging-*.jar
lib/fluent-hc-*.jar
lib/guava-*.jar
lib/guice-*.jar
lib/guice-assistedinject-*.jar
lib/httpclient-*.jar
lib/httpclient-cache-*.jar
lib/httpcore-*.jar
lib/httpmime-*.jar
lib/jackson-annotations-*.jar
lib/jackson-core-2.6.7.jar
lib/jackson-databind-*.jar
lib/java-inject.jar
lib/jsr305-*.jar
lib/log4j-*.jar
lib/mail-*.jar
lib/msv-core-*.jar
lib/netty-all-*.jar
lib/relaxngDatatype-*.jar
lib/stax2-api-*.jar
lib/woodstox-core-asl-*.jar
lib/xsdlib-*.jar
lib/zal.jar
